Introduction to Data Science

## Introduction
This notebook provides an overview of languages, libraries, and tools used in Data Science.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-Learn

## Data Science Tools
| Tool           | Purpose                       |
|----------------|-------------------------------|
| Jupyter        | Data analysis and visualization |
| RStudio        | Data analysis and modeling     |
| Apache Spark   | Big data processing            |

## Arithmetic Expression Examples
The following examples demonstrate basic arithmetic operations, such as addition and multiplication.

In [2]:
# Example of multiplication and addition
result_addition = 5 + 7
result_multiplication = 6 * 4
result_addition, result_multiplication

(12, 24)

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn common Data Science languages
- Understand key Data Science libraries and tools
- Practice basic arithmetic operations

## Author
- Name: [Your Name]